@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  min-height: 100vh;
  background-image: url(images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: contain;

  text-align: center;
}
/* header */
.head-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 2;
  margin-top: 90px;
}
.head-text h1 {
  margin-top: 25px;
  font-weight: 600;
}
.head-text p {
  text-align: center;
  font-size: 16.5px;
  color: hsl(201, 11%, 66%);
}
.links {
  margin-top: 20px;
}
.links button {
  border-radius: 20px;
  padding: 15px 40px;
  border: none;
}
.links a {
  color: white;
  text-decoration: none;
}
.ios {
  background-color: rgb(38, 186, 164);
  margin-right: 10px;
}
.ios:hover {
  opacity: 0.7;
  cursor: pointer;
  box-shadow: 1px 1px 2px 2px rgb(28, 144, 127);
}
.mac {
  background-color: rgb(97, 115, 255);
}
.mac:hover {
  opacity: 0.7;
  cursor: pointer;
  box-shadow: 1px 1px 2px 2px rgb(70, 84, 188);
}
/* maintext */
.maintext {
  margin-top: 140px;
}
.maintext h2 {
  color: hsl(210, 10%, 33%);
}
.maintext p {
  margin-top: 20px;
  color: hsl(201, 11%, 66%);
  line-height: 2;
}
/* computersec */
.computersec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;
}
.com-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 80px;
}
.com-text h3 {
  color: hsl(210, 10%, 33%);
  font-weight: 600;
}
.com-text p {
  margin-top: 10px;
  color: hsl(201, 11%, 66%);
  line-height: 1.5;
}
/* device */
.device {
  margin-top: 80px;
}
.device h2 {
  font-size: 30px;
  color: hsl(210, 10%, 33%);
}
.device p {
  margin-top: 20px;
  color: hsl(201, 11%, 66%);
  line-height: 2;
  font-size: 17px;
}
/* box1 */
.box1 {
  display: flex;
  flex-direction: row;
  padding: 90px 170px;
  line-height: 2;
  gap: 10px;
}
.box1 img {
  margin-bottom: 20px;
}
.box1 h3 {
  font-weight: 600;
  color: hsl(210, 10%, 33%);
}
.box1 p {
  align-items: center;
  color: hsl(201, 11%, 66%);
}
/* box2 */
.box2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
}
.box2 img {
  width: 12%;
  aspect-ratio: 5/4;
  object-fit: contain;
}
/* main-text */
.main-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.5;
  margin-top: 70px;
}
.main-text h1 {
  margin-bottom: 15px;
  font-weight: 600;
}
.main-text p {
  text-align: center;
  font-size: 16.5px;
  color: hsl(201, 11%, 66%);
  margin-bottom: 15px;
}
/* footer */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: whitesmoke;
  margin-top: 180px;
  align-items: center;
  padding: 0 190px;
  height: 150px;
}
.logo {
  width: 75px;
}
.footer-text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  line-height: 2;
  text-align: left;
}
.footer-text a {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
  margin-right: 50px;
}
.footer-text a:hover {
  color: hsl(233, 100%, 69%);
}
.icon img {
  margin-right: 15px;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 5px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  margin-right: 5px;
}
@media only screen and (max-width: 1242px) {
  .head-text h1 {
    padding: 0 90px;
    line-height: 1.2;
    color: hsl(210, 10%, 33%);
  }
  .head-text p {
    font-size: 18px;
    padding: 0 95px;
    margin-top: 15px;
  }
  .links {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .links button {
    padding: 13px 90px;
  }
  .maintext h2 {
    padding: 0 100px;
  }
  .maintext p {
    padding: 0 85px;
  }
  .device img {
    width: 400px;
  }
  .devicetxt h2 {
    padding: 0 80px;
  }
  .devicetxt p {
    padding: 0 90px;
  }
  .computersec img {
    width: 400px;
    margin: 0 auto;
  }
  .computersec {
    display: grid;
    grid-template-columns: 1fr;
  }
  .com-text {
    text-align: center;
    margin-top: 50px;
  }
  .box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .box1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 70px 70px;
  }
  .main-text h1 {
    padding: 0 105px;
  }
  .main-text p {
    padding: 0 90px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
  }
  .logo {
    margin-top: 50px;
  }
  .footer-text {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .footer-text a {
    margin: 0 auto;
  }
  .icon {
    margin-bottom: 20px;
  }
}
